@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,500,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:100,200,300,800");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,800");
@import url("https://fonts.googleapis.com/css?family=Open Sans:100,200,300,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,600,800,900,1000");
@import url("https://fonts.googleapis.com/css?family=Dosis:100,200,300,500,600,800,900,1000");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:regular,semi-bold,bold");
* {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 26px;
  font-family: 'Raleway';
}
h2 {
  font-size: 48px;
  font-weight: 100;
  line-height: 48px;
  font-family: 'Raleway';
}
h3 {
  font-family: 'Crimson Text', serif;
  font-weight: 300;
  font-size: 28px;
}
h4 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
}
h5 {
  font-family: 'Poppins';
  font-weight: 400;
}
p {
  font-family: 'Crimson Text', serif;
  font-weight: regular;
  font-size: 16px;
}
a.musicLinks, a.themes {
  text-decoration: none;
  color: #000;
}
a.musicLinks:hover {
  text-decoration: underline;
  color: #000;
}

a.emotional_links:hover {
  text-decoration: underline;
  color: #000;
}

a.themes:hover {
  text-decoration: underline;
  color: #b0e0e6;
}
a.arrows {
  text-decoration: none;
  font-size: 40px;
  color: #000;
}
a.more {
  text-decoration: underline;
  color: #000;
}
a.nestedMore {
  text-decoration: underline;
}
a.nestedMore:hover {
  color: #b0e0e6;
}
li.bullets {
  font-family: 'Crimson Text';
  font-weight: regular;
  font-size: 12px;
}
ol {
  font-size: 36px;
  font-weight: 300;
  font-family: 'Raleway';
  line-height: 25px;
}
a.title {
  text-decoration: none;
  color: #000;
}
a.embedded {
  text-decoration: none;
  color: #000;
}
a.embedded:hover {
  text-decoration: underline;
  color: #b0e0e6;
}
a.side {
  text-decoration: none;
  color: #000;
}
a.side:hover {
  color: #b0e0e6;
}
a.side:active {
  color: #b0e0e6;
}
.moreTexts {
  display: none;
}
img {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
}
img:hover {
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 10px;
}
input[type=submit] {
  padding: 5px 15px;
  background: #d0a1a8;
  border: #000 1px solid;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
textarea {
  padding: 5px 15px;
  background: #d0a1a8;
  border: #000 1px solid;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.menu {
  width: 30%;
  padding-right: 20px;
  float: left;
  text-align: right;
  list-style-position: inside;
}
.main {
  border-left: 1px solid #000;
  width: 70%;
  padding-left: 20px;
  height: 80vh;
  float: left;
  padding-right: 50px;
}
body {
  padding: 30px;
  background-color: #d0a1a8;
  height: 80vh;
}



